@import "tailwindcss";

:root {
  --background: #060608;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}
